/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}


/* Setting Image width and height for every image */
img{
    width: 100%;
    height: 100%;
    display: none;
}



/* Main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main h1{
    margin: 1rem;
}

main .images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.img-item{
    padding: 1rem;
    width: 216px;
    height: 216px;
    box-shadow: 1px 1px 10px grey;
}
.img-item:hover{
    cursor: pointer;
}
#cover{
    width: 100%;
    height: 100%;
    background: #000;
    /* display: none; */
}

/* Score */

.info{
    margin: 3rem;
    font-size: 2rem;
}

@media screen and (max-width : 680px) {
    .img-item{
        width: 166px;
        height: 166px;
        box-shadow: 1px 1px 10px grey;
    }
}
@media screen and (max-width : 530px) {
    .img-item{
        width: 116px;
        height: 116px;
    }
}
@media screen and (max-width : 401px) {
    main .images{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .info{
        margin: 3rem;
        font-size: 1.4rem;
    }
}